@import "./_variables"; // Import color and sizing variables
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  font-family: $font-family;
}
html {
  scroll-behavior: smooth;
}
// Toggle button animation styles
.open .bar-top {
  transform: rotate(45deg) translateY(10px);
}
.open .bar-mid {
  opacity: 0;
}
.open .bar-bot {
  transform: rotate(-45deg) translateY(-10px);
}

body {
  width: 100%;
  height: 100vh;
  background: $background-light;
  overflow-x: hidden;
  header {
    font-size: $mobile-font-size;
    .header {
      padding: 1rem;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      border-radius: 0 0 20px 20px;
      -webkit-border-radius: 0 0 20px 20px;
      -moz-border-radius: 0 0 20px 20px;
      -ms-border-radius: 0 0 20px 20px;
      -o-border-radius: 0 0 20px 20px;
      .logoBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        #logo {
          color: $accent-color;
          text-shadow: rgba(0, 0, 0, 0.15) 2px 3px 5px;
          font-size: 1.5rem;
        }
        .nav-toggle {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 30px;
          height: 30px;
          background: transparent;
          border: none;
          cursor: pointer;
          .bar-top,
          .bar-mid,
          .bar-bot {
            width: 100%;
            height: 4px;
            background-color: $accent-color;
            margin: 2px 0;
          }
        }
      }
      background: $secondary-color;
      .menu {
        background-color: $primary-color;
        position: fixed;
        top: 50%;
        right: -100%;
        z-index: 1;
        padding: 1rem;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        &.open {
          right: 0;
        }
      }

      ul {
        padding: 0;
        li {
          padding: 10px 0;
          a {
            color: $background-light; // White text
            transition: color 0.3s;
            &:hover {
              color: $highlight-color; // Change on hover
            }
          }
        }
      }
    }
  }
  #home {
    padding-top: 9rem; // Space for header
    .container {
      text-align: center; // Center content
      .contain {
        h1 {
          font-size: $h1-font-size-mobile;
          color: $primary-color;
        }
        p {
          font-size: $p-font-size-mobile;
          color: $secondary-color; // Slate blue
        }
        .btn {
          display: inline-block;
          padding: 0.5rem 1rem;
          background-color: $accent-color;
          color: $background-light;
          border: none;
          border-radius: 5px;
          text-transform: none; // Keep normal case
          transition: background-color 0.3s;
          &:hover {
            background-color: $highlight-color; // Change on hover
          }
        }
      }
    }
  }
  footer {
    background-color: $primary-color;
    color: $background-light;
    text-align: center;
    padding: 1rem 0;
  }
}
